<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Action</th> 
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- routerLink="/orders/{{order.id}}" -->
                    <tr *ngFor="let order of orders" >
                        <th> <a  routerLink="/orders/{{order.id}}"> {{order.buyerEmail}}</a></th>
                        <td>{{order.orderDate | date: 'medium'}}</td>
                        <td>{{order.subTotal | currency}}</td>
                        <td >
                           
                            <button mat-flat-button class="btn btn-danger"  color="" (click)="openModal()" >
                                Add Attach
                            </button> 
                            <button mat-flat-button class="btn btn-primary" >
                                Done
                            </button>
                        </td>
                    </tr>  
                   
                </tbody>
            </table>
        </div>
    </div>
</div>





<div id="myModal" class="myModal">
    <div class="modalBox">
        <!-- <i (click)="closeModal()" id="closeModal" class="fas fa-times"></i> -->
        <i (click)="closeModal()" id="closeModal" class="far fa-window-close"></i>
        <!-- <i class=""></i> -->
        
       
        <div class="row"> 
            <div class="col-8 mt-5">
               
                <label for="">buyer </label>
                <input type="text" [(ngModel)]="buyerEmail" class="form-control w-100" >
            
            </div>
            <div class="col-8 mt-5">
               
                <label for="">total Mn </label>
                <input type="text" [(ngModel)]="total" class="form-control w-100" >
            
            </div>
            <div class="col-8 mt-5">
               
                <label for="">image </label>
                <input (input)='editClick($event)' name="photofileName" class="form-control w-100" type="file">
              

            </div>
         
        </div>
        <!-- routerLink="" -->
        <button  id="modalAcceptBtn" class="btn"> Add </button>

    </div>
</div>
