<div class="conatiner"style="margin:40px">

    <button type="button" 
    class="btn btn-primary m-2 float-end"
    data-bs-toggle="model"
    data-bs-target="#exampleModel"
    (click)="openModal()">
    
    Add Type
    </button>
    
    
    <table class="table table-strip">
        <thead>
            <th>
                Brand Id
            </th> 
            <th>
                     Product Brand
            </th>  
            <th>
                option
            </th>
        
        </thead> 
        <tbody>
           <tr *ngFor="let pro of prodctBrand">
               <td >{{pro.id}}</td>
               <td >{{pro.name}}</td> 
                <td>
                    <button type="button" (click)="openModal()"  class="btn btn-light mr-1">Add</button> 
                   
                </td>
    
           </tr>
        </tbody>
    </table> 
    
    
    </div> 


    <div class="row">

        <div class="col-8 mt-2">

            <form action="post">
                <label for="">name</label>
                <input formControlName="name" type="text" class="form-control" name="" id="">

                
            </form>


        </div>

    </div>
    <!-- routerLink="" -->
    <button id="modalAcceptBtn"(click)="setProducts($event)" class="btn"> Add </button>
    <!-- <div class="model fade" id="exampleModel" tabindes="-1" aria-label="exampleModalLabel" 
    aria-hidden="true">
    <div class="model-dialog model-lg model-dialog-centered">
    <div class="model-content">
        <div class="model-header">
            <h5 class="model-title" id="exampleModalLabel">{{modalTitle}}</h5> 
            <button type="button" class="btn-close" data-bs-dismiss="model"
            aria-label="Close"></button>
        </div> 
        <div class="model-body">
            <div class="input-group mb-3">
                <span class="input-group-text">Type name</span> 
                 <input type="text" class="form-control"(input)="Name"/>
            </div> 
            <button type="button" (click)="createClick()"
            *ngIf="Id==0"class="btn btn-primary">
        Create
        </button>
    
         <button type="button" (click)="setProducts($event)"
            *ngIf="Id==0"class="btn btn-primary">
        Update
        </button> 
        </div>
    </div>
    
    
    
    </div>
    
    </div> -->