<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>Buyer Email</th> 
                        <th>Product Name</th> 

                        
                        <th>Suplier</th>  
                        <th>Description</th>
                        <th>Date</th>
                        <th>Total</th>
        
                        <th>Action</th> 

                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- routerLink="/orders/{{order.id}}" -->
                    <tr *ngFor="let order of orders" >
                        <th> <a  routerLink="/orders/{{order.id}}"> {{order.buyerEmail}}</a></th> 
                        <td>{{order.orderItems[0].itemOrdered.productName}}</td> 
                        <td>{{order.orderItems[0].itemOrdered.supplier}}</td> 
                        <th>{{order.orderItems[0].itemOrdered.description}}</th>
                        

                        <td>{{order.orderDate | date: 'medium'}}</td>

                        <td>{{order.subTotal | currency}}</td>
                        <td >
                            <a
                            mat-flat-button  (click)="Reject(order.id)"  class="btn btn-danger"  color="primary"

                            >Reject </a>
                            <button mat-flat-button (click)="pass(order.id)"  class="btn btn-success" >
                                Accept
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


