<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Status</th> 
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <th><a  routerLink="/orders/{{order.id}}"> {{order.buyerEmail}}</a></th>
                        <td>{{order.orderDate | date: 'medium'}}</td>
                        <td>{{order.subTotal | currency}}</td>
                        <td >
                            <a routerLink=""
                            mat-flat-button   class="btn btn-danger"  color="primary"
                            
                            >Reject </a> 
                            <button mat-flat-button  class="btn btn-success" >
                                Pass
                            </button>
                        </td>
                    </tr>  
                   
                </tbody>
            </table>
        </div>
    </div>
</div> 


